.menu {
	list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 100px;
    width: 15%;
    background-color: #f1f1f1;
    height: 100%;
    position: fixed;
    overflow: auto;
    opacity: 0.7;
}

.active {
    color: white;
	background-color: crimson;
}

.textContent {
	margin-left: 15%;
	padding: 10px ;
}

.menu li a {
    display: block;
    color: #000;
    padding: 10px 25px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: coral;
    color: white;
}

body {
	margin: 0;
}

#plans {
    background-image: url(searock.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#tabel {
    border: 1px solid black;
    width: 100%;
    
}

#tabel th,td {
    padding-left: 15px;
    text-align: center;
}
#toprow {  
    background-color: rgb(60,60,60);
    color: white;
    width: 100%;
}