.menu {
	list-style-type: none;
    margin-top: 100px;
    text-align: center;  
    background-color: #191919;
    overflow: auto;
    opacity: 0.7;
    padding: 10px;
}

.active {
    color: white;
	background-color: crimson;
}

.textContent {
	text-align: center;
	padding: 10px ;
}

.textContent ul {
    list-style: none;
    font-size: 20px;
}


.textContent a {
    text-decoration: none;
    color:black;
}

.textContent a:visited {
    color:forestgreen;
}

.textContent a:hover {
    color:deeppink;
}


.menu li a {
    color: white;
    padding: 10px 40px;
    text-decoration: none;
}

.menu li {
    display: inline;
}

.menu li a:hover {
    background-color: #EC9399;
}

body {
	margin: 0;
    background-color: #DFE2DB;
}

#avalehtBody {
    background-color:floralwhite;
}

#lingidBody {
    background-image: url(lingidBg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#hobidBody {
    background-image: url(hobidBg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#tableBody {
    background-image: url(mouse.png);
    background-size: cover;
    background-repeat: repeat;
    opacity: 0.7;
}

#plans {
    background-image: url(searock2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#tabel {
    width: 100%;
    background-color: rgb(245,245,245);
    
}

#tabel th,td {
    border-bottom: 1px solid black;
    padding-left: 15px;
    text-align: center;
}
#toprow {  
    background-color: rgb(0,70,150);
    color: white;
    width: 100%;
}