#menu {
    width: 100%;
    background-color: rgb(200,200,200);
    text-align: center;
    padding: 1px;
    
}

#menu li {
    display: inline;
    margin: 40px;
}

#secScore {
    text-align: center;
}

#secScore ul {
    list-style-type: none;
    display: inline-block;
}
#secScore li {
    text-align: center;
    padding-top: 10px;
}


#player {
    height: 300px;
    background-color: darkseagreen;
}

#computer {
    float: right;
    width: 300px;
    height: 300px;
    background-color: darkseagreen;
    margin-right: 20%;
}

#buttons {
    text-align: center;
}

#buttons button {
    margin: 10px;
    width: 100px;
}

#container {
    float: left;
    margin-left: 20%;
    width: 300px;

}

